body, p,
h1, h2 h3 h4 h5 h6 {
  font-size: 1rem;
}

.header_hero {
  width: 100%;
  height: 80vh;
  background-color: #0a183d;
}

.header_hero__text {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_hero__text h2 {
  color: #fff;
  font-size: 6rem;
  margin-bottom: 3rem;
  line-height: 150%;
  font-weight: 600;
}

.header_hero__text h2 span {
  color: #b71540;
  text-transform: capitalize;
}

.header_hero__text p {
  font-size: 1.7rem;
  color: #fff;
  margin-bottom: 5rem;
}

.header_hero__text a {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0px 8px 15px black;
          box-shadow: 0px 8px 15px black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.header_hero__text a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translate(-0.7rem);
          transform: translate(-0.7rem);
}

.header_hero__text .btn__2 {
  margin-left: 2rem;
  background-color: rgba(87, 85, 85, 0.7);
}

.header_hero__text_2 {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_hero__text_2 h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
  line-height: 150%;
  font-weight: 600;
}

.header_hero__text_2 h2 span {
  color: #b71540;
  text-transform: capitalize;
}

.header_hero__text_2 p {
  font-size: 1.7rem;
  margin-bottom: 5rem;
}

.header_hero__img {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: anime_hero 2s linear infinite alternate;
          animation: anime_hero 2s linear infinite alternate;
}

@-webkit-keyframes anime_hero {
  form {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes anime_hero {
  form {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.header_hero__img img {
  -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
          filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
}

.container-1 {
  border: 0px solid white;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  width: 200px;
}

.circle {
  height: 56px;
  width: 56px;
}

.line {
  width: 96px;
  height: 8px;
  align-Self: center;
  margin-left: 16px;
  border-radius: 8px;
}

.br {
  border-radius: 8px;
}

.w80 {
  width: 80%;
}

.card {
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 10px 0 #a9a9a9;
          box-shadow: 0px 0px 10px 0 #a9a9a9;
  padding: 30px 40px;
  width: 80%;
  margin: 50px auto;
}

.profilePic {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.comment {
  height: 10px;
  background: #777;
  margin-top: 20px;
}

.wrapper {
  width: 0px;
  -webkit-animation: fullView 0.5s forwards linear;
          animation: fullView 0.5s forwards linear;
}

@-webkit-keyframes fullView {
  100% {
    width: 100%;
  }
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

.animate {
  -webkit-animation: shimmer 2s infinite;
          animation: shimmer 2s infinite;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, #eff1f3), color-stop(25%, #e2e2e2), color-stop(36%, #eff1f3));
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}
/*# sourceMappingURL=common.css.map */