@import '../Variables/Variables';
@import "../Mixin/Mixin";

html {
    // font-size: 62.5%;
}
body, p,
h1, h2 h3 h4 h5 h6{
    font-size: 1rem;
}
.header_hero {
    width: 100%;
    height: 80vh;
    background-color: $main-color;

    &__text {
        height: 80vh;
        @include content_center(flex-start);

        h2 {
            color: $text-color;
            font-size: 6rem;
            margin-bottom: 3rem;
            line-height: 150%;
            font-weight: 600;

            span {
                color: $primary-color;
                text-transform: capitalize;
            }
        }
        p{
           font-size: 1.7rem;
           color:$text-color;
           margin-bottom: 5rem; 
        }
        .header_text__btn{
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            // flex-direction: row;
         }
         a{
             @include mybtn;
             &:hover{
                 @include hovereffects;
             }
         }
         .btn__2{
             margin-left:2rem;
             background-color: rgba($color: #575555, $alpha: 0.7);
         }
    }

    &__text_2 {
        height: 80vh;
        @include content_center(flex-start);

        h2 {
            font-size: 6rem;
            margin-bottom: 3rem;
            line-height: 150%;
            font-weight: 600;

            span {
                color: $primary-color;
                text-transform: capitalize;
            }
        }
        p{
           font-size: 1.7rem;
           margin-bottom: 5rem; 
        }
    }

    &__img{
        height: 80vh;
        @include content_center(flex-end);
        animation: anime_hero 2s linear infinite alternate;
        @keyframes anime_hero {
            form {
                transform: rotate(5deg);
            }

            to {
                transform: rotate(-5deg);
            }
        }
        img{
            filter:drop-shadow(0 1.5rem 1rem rgba(0,0,0, 0.8));
        }
    }
}


.container-1 {
    border: 0px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    border-radius: 4px;
    background-color: white;
    display: flex;
    padding: 16px;
    width: 200px;
  }
  .circle{
    height: 56px;
    width: 56px;
    
  }
  .line {
    width: 96px;
    height: 8px;
    align-Self:center;
    margin-left:16px;
    border-radius:8px;
  }



//   css shimmer effect
.br {
    border-radius: 8px;  
  }
  .w80 {
     width: 80%;
  }
  .card {
    border: 2px solid #fff;
    box-shadow:0px 0px 10px 0 #a9a9a9;
    padding: 30px 40px;
    width: 80%;
    margin: 50px auto;
  }
  .profilePic {
    height: 65px;
    width: 65px;
    border-radius: 50%;
  }
  .comment {
    height: 10px;
    background: #777;
    margin-top: 20px;
  }
  .wrapper {
    width: 0px;
    animation: fullView 0.5s forwards linear;
  }
  
  @keyframes fullView {
    100% {
      width: 100%;
    }
  }
  .animate {
    animation : shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
 }