@import '../Variables/Variables';
@import "../Mixin/Mixin";
.main-header {
    // width: 100vw;
    line-height: 10rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) $main-color;

    .navbar-brand {
        color: $text-color;
        animation-direction: alternate;

        &:hover {
            color: $primary-color;
        }
    }

    .navbar-nav {
        padding-left: 15rem;

        .nav-item {
            .nav-link {
                font-size: 1.6rem;
                color: $text-color;
                text-transform: uppercase;
                padding-right: 3rem;

                &:hover {
                    color: $primary-color;
                }
            }

            li:last-child>a {
                padding-right: 0%;
            }

        }
    }

    .my-btn{
        @include mybtn;
        &:hover{
            @include hovereffects;
        }
    }
}