.main-header {
  line-height: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) #0a183d;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) #0a183d;
}

.main-header .navbar-brand {
  color: #fff;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main-header .navbar-brand:hover {
  color: #b71540;
}

.main-header .navbar-nav {
  padding-left: 15rem;
}

.main-header .navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  padding-right: 3rem;
}

.main-header .navbar-nav .nav-item .nav-link:hover {
  color: #b71540;
}

.main-header .navbar-nav .nav-item li:last-child > a {
  padding-right: 0%;
}

.main-header .my-btn {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0px 8px 15px black;
          box-shadow: 0px 8px 15px black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.main-header .my-btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translate(-0.7rem);
          transform: translate(-0.7rem);
}
/*# sourceMappingURL=Navbar.css.map */