// Required


// Default variable overrides
  $primary: #e2046e;
//   $btn-border-radius:25px;
// $form-check-input-width:1.5em;
$form-floating-label-transform:   scale(.85) translateY(-.5rem) translateX(.25rem);
  @import "../../node_modules/bootstrap/scss/bootstrap.scss";
// Required

// etc



// / Create your own map
$custom-colors: (
  "custom-color": #900
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


@import '../Variables/Variables';


html {
    font-size: 0.9rem;

}

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    background-color: aliceblue;
}

.phone-call {
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 20px;
    background: #10b418;
    position: fixed;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
    display: inline-block;
    line-height: 44px;
}

.phone-call:before {
    position: absolute;
    content: " ";
    z-index: -1;
    top: -15px;
    left: -15px;
    background-color: #10b418;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    opacity: 0.6;
    -webkit-animation: pulse 1s ease-out;
    animation: pulse 1.8s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }

    25% {
        -webkit-transform: scale(0.3);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(0.6);
        opacity: .6;
    }

    75% {
        -webkit-transform: scale(0.9);
        opacity: .3;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    25% {
        transform: scale(0.3);
        opacity: 1;
    }

    50% {
        transform: scale(0.6);
        opacity: .6;
    }

    75% {
        transform: scale(0.9);
        opacity: .3;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

._share_app {
    .btn {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            outline: none;
        }

        &:active {
            outline: none;
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .ic_copy {
        border: 1px solid rgba(0, 0, 0, .1);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;

    }
}

// motorProposal.js
// custom radio button 
.radio-toolbar {
    input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
    }

    label {
        display: inline-block;
        background-color: transparent;
        padding: 6px 20px;
        font-family: sans-serif, Arial;
        font-size: 14px;
        border: 1px solid #444;
        border-radius: 4px;
        margin-right: 1rem;
        cursor: pointer;
    }

    label:hover {
        background-color: $pinc-color;
        color: #ffffff;
    }

    input[type="radio"]:focus+label {
        border: 1px dashed #444;
        color: #ffffff;
    }

    input[type="radio"]:checked+label {
        background-color: $pinc-color;
        border-color: $pinc-color;
        color: #ffffff;
    }
}


// btn

/* 13 */
.custom-btn {
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-13 {
    background-color: #da628a;
    background-image: linear-gradient(315deg, #d8898d 0%, #c80345 74%);
    border: none;
    z-index: 1;
}

.btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #cc4d68;
    background-image: linear-gradient(315deg, #cc4d68 0%, #e496a0 74%);
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-13:hover {
    color: #fff;
}

.btn-13:hover:after {
    top: 0;
    height: 100%;
}

.btn-13:active {
    top: 2px;
}

.cust-addons ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}