@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-Medium.eot");
  src: url("Quicksand-Medium.eot?#iefix") format("embedded-opentype"), url("Quicksand-Medium.woff2") format("woff2"), url("Quicksand-Medium.woff") format("woff"), url("Quicksand-Medium.ttf") format("truetype"), url("Quicksand-Medium.svg#Quicksand-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-Light.eot");
  src: url("Quicksand-Light.eot?#iefix") format("embedded-opentype"), url("Quicksand-Light.woff2") format("woff2"), url("Quicksand-Light.woff") format("woff"), url("Quicksand-Light.ttf") format("truetype"), url("Quicksand-Light.svg#Quicksand-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-Bold.eot");
  src: url("Quicksand-Bold.eot?#iefix") format("embedded-opentype"), url("Quicksand-Bold.woff2") format("woff2"), url("Quicksand-Bold.woff") format("woff"), url("Quicksand-Bold.ttf") format("truetype"), url("Quicksand-Bold.svg#Quicksand-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-SemiBold.eot");
  src: url("Quicksand-SemiBold.eot?#iefix") format("embedded-opentype"), url("Quicksand-SemiBold.woff2") format("woff2"), url("Quicksand-SemiBold.woff") format("woff"), url("Quicksand-SemiBold.ttf") format("truetype"), url("Quicksand-SemiBold.svg#Quicksand-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url("Quicksand-Regular.eot");
  src: url("Quicksand-Regular.eot?#iefix") format("embedded-opentype"), url("Quicksand-Regular.woff2") format("woff2"), url("Quicksand-Regular.woff") format("woff"), url("Quicksand-Regular.ttf") format("truetype"), url("Quicksand-Regular.svg#Quicksand-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*# sourceMappingURL=fonts.css.map */